[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

wagtail = "*"
"psycopg2" = "*"
gunicorn = "*"
django-environ = "*"


[dev-packages]

docker-compose = "*"