{% extends "base.html" %}
{% load static %}
{% load wagtailimages_tags %}

{% block content %}

        <section class="home-section home-parallax home-fade home-full-height" id="home">
        <div class="hero-slider">
          <ul class="slides">
            {% image page.slider_image1 original as slider_image1 %}
            <li class="bg-dark-30 bg-dark" style="background-image:url({{ slider_image1.url }});">
              <div class="titan-caption">
                <div class="caption-content">
                  <div class="font-alt mb-0 titan-title-size-4">{{ page.slider_h1 }}</div><a class="section-scroll btn btn-border-w btn-round" href="#about">Know More</a>
                </div>
              </div>
            </li>
            {% image page.slider_image2 original as slider_image2 %}
            <li class="bg-dark-30 bg-dark" style="background-image:url({{ slider_image2.url }});">
              <div class="titan-caption">
                <div class="caption-content">
                  <div class="font-alt mb-30 titan-title-size-4">{{ page.slider_h2 }}</div><a class="section-scroll btn btn-border-w btn-round" href="#about">Know More</a>
                </div>
              </div>
            </li>
            {% image page.slider_image3 original as slider_image3 %}
            <li class="bg-dark-30 bg-dark" style="background-image:url({{ slider_image3.url }});">
              <div class="titan-caption">
                <div class="caption-content">
                  <div class="font-alt mb-40 titan-title-size-4">{{ page.slider_h3 }}</div><a class="section-scroll btn btn-border-w btn-round" href="#about">Know More</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </section>
      <div class="main">
        <section class="module" id="about" style="background-color:#1b1817;">
          <div class="container">
            <div class="row">
              <div class="col-sm-8 col-sm-offset-2">
                <h2 class="module-title font-alt" style="color:#dddddd;">{{ page.brief_heading }}</h2>
                <div class="module-subtitle font-serif" style="color:#dddddd;">{{ page.brief_body|safe }}</div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2 col-sm-offset-5">
                <div class="large-text align-center"><a class="section-scroll" href="#services"><i class="fa fa-angle-double-down" style="color:#cbba79"></i></a></div>
              </div>
            </div>
          </div>
        </section>
        <hr class="divider-w">
        <section class="module  mt-20 pt-20 mb-20 pb-20" id="services">
          <div class="container">
            <div class="row ">
              <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">{{ page.vision_heading }}</h2>
                <div class="module-subtitle font-serif">{{ page.vision_body }}</div>
              </div>
            </div>
            <div class="row multi-columns-row">
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="features-item">
                  <div class="features-icon"><span class="icon-lightbulb"></span></div>
                  <h3 class="features-title font-alt">{{ page.agenda_h1 }}</h3>
                  <p>{{ page.agenda_body1 }}</p>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="features-item">
                  <div class="features-icon"><span class="icon-bike"></span></div>
                  <h3 class="features-title font-alt">{{ page.agenda_h2 }}</h3>
                  <p>{{ page.agenda_body2 }}</p>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="features-item">
                  <div class="features-icon"><span class="icon-gears"></span></div>
                  <h3 class="features-title font-alt">{{ page.agenda_h3 }}</h3>
                  <p>{{ page.agenda_body3 }}</p>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12 mb-30 pb-30">
                <div class="features-item">
                  <div class="features-icon"><span class="icon-tools-2"></span></div>
                  <h3 class="features-title font-alt">{{ page.agenda_h4 }}</h3>
                  <p>{{ page.agenda_body4 }}</p>
                </div>
              </div>

              <div class="module-title mt-40 pt-40 mb-20 pb-20">
                  <a class=" btn btn-border-w btn-round" href="about3.html" style="background-color:#000000; color:#ffffff;">More About Us</a>
              </div>
            </div>
          </div>
          <div class="large-text align-center"><a class="section-scroll" href="#works"><i class="fa fa-angle-double-down" style="color:#000000;"></i></a></div>
        </section>
        <section class="module bg-dark-60" data-background="/images/informal_workers_narrative.png">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <div class="video-box">
                  <div class="video-box-icon"><a class="video-pop-up" href="https://www.youtube-nocookie.com/embed/pFq6XoxbJhg?rel=0&amp;autoplay=1"><span class="icon-video"></span></a></div>
                  <div class="video-title font-alt">Informal Workers Narrative</div>
                  <div class="video-subtitle font-alt">Watch the video about informal workers narrative discussion</div>
                </div>
              </div>
            </div>
          </div>
        </section>
        {% if page.featured_works %}
        <section class="module pb-0" id="works">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">{{ page.featured_works_title }}</h2>
                <div class="module-subtitle font-serif"></div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <ul class="filter font-alt" id="filters">
                  <li><a class="current wow fadeInUp" href="#" data-filter="*">All</a></li>
                  <li><a class="wow fadeInUp" href="#" data-filter=".illustration" data-wow-delay="0.2s">{{ page.recent_work_h1 }}</a></li>
                  <li><a class="wow fadeInUp" href="#" data-filter=".marketing" data-wow-delay="0.4s">{{ page.recent_work_h2 }}</a></li>
                  <li><a class="wow fadeInUp" href="#" data-filter=".photography" data-wow-delay="0.6s">{{ page.recent_work_h3 }}</a></li>
                </ul>
              </div>
            </div>
          </div>
          {% for childpage in page.featured_works.specific.children %}
          <ul class="works-grid works-grid-gut works-grid-3 works-hover-w" id="works-grid">
            <li class="work-item illustration"><a href="{{childpage.url}}">
              {% image childpage.image original as work_image %}
                <div class="work-image"><img src="{{ work_image.url }}"/></div>
                <div class="work-caption font-alt">
                  <h3 class="work-title">{{ childpage.title }}</h3>
                  <div class="work-descr">{{ childpage.short_desc }}</div>
                </div></a></li>
          </ul>
          {% endfor %}
          {% endif %}
        </section>
        <section class="module-small bg-dark">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-md-8 col-lg-6 col-lg-offset-2">
                <div class="callout-text font-alt">
                  <h3 class="callout-title">Want to see more works?</h3>
                  <p>We are always open to interesting projects.</p>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-2">
                <div class="callout-btn-box"><a class="btn btn-w btn-round" href="portfolio_boxed_gutter_col_3.html">Lets view portfolio</a></div>
              </div>
            </div>
          </div>
        </section>
        <section class="module" id="alt-features">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">Our features</h2>
                <div class="module-subtitle font-serif">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="alt-features-item">
                  <div class="alt-features-icon"><span class="icon-strategy"></span></div>
                  <h3 class="alt-features-title font-alt">Branding</h3>A wonderful serenity has taken possession of my entire soul like these sweet mornings.
                </div>
                <div class="alt-features-item">
                  <div class="alt-features-icon"><span class="icon-tools-2"></span></div>
                  <h3 class="alt-features-title font-alt">Development</h3>A wonderful serenity has taken possession of my entire soul like these sweet mornings.
                </div>
                <div class="alt-features-item">
                  <div class="alt-features-icon"><span class="icon-target"></span></div>
                  <h3 class="alt-features-title font-alt">Marketing</h3>A wonderful serenity has taken possession of my entire soul like these sweet mornings.
                </div>
                <div class="alt-features-item">
                  <div class="alt-features-icon"><span class="icon-tools"></span></div>
                  <h3 class="alt-features-title font-alt">Design</h3>A wonderful serenity has taken possession of my entire soul like these sweet mornings.
                </div>
              </div>
              <div class="col-md-6 col-lg-6 hidden-xs hidden-sm">
                <div class="alt-services-image align-center"><img src="{% static '/images/promo.png' %}" alt="Feature Image"></div>
              </div>
              <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="alt-features-item">
                  <div class="alt-features-icon"><span class="icon-camera"></span></div>
                  <h3 class="alt-features-title font-alt">Photography</h3>A wonderful serenity has taken possession of my entire soul like these sweet mornings.
                </div>
                <div class="alt-features-item">
                  <div class="alt-features-icon"><span class="icon-mobile"></span></div>
                  <h3 class="alt-features-title font-alt">Mobile</h3>A wonderful serenity has taken possession of my entire soul like these sweet mornings.
                </div>
                <div class="alt-features-item">
                  <div class="alt-features-icon"><span class="icon-linegraph"></span></div>
                  <h3 class="alt-features-title font-alt">Music</h3>A wonderful serenity has taken possession of my entire soul like these sweet mornings.
                </div>
                <div class="alt-features-item">
                  <div class="alt-features-icon"><span class="icon-basket"></span></div>
                  <h3 class="alt-features-title font-alt">Shop</h3>A wonderful serenity has taken possession of my entire soul like these sweet mornings.
                </div>
              </div>
            </div>
          </div>
        </section>
        <hr class="divider-w">
        <section class="module bg-dark-60 pt-0 pb-0 parallax-bg testimonial" data-background="{% static '/images/testimonial_bg.jpg' %}">
          <div class="testimonials-slider pt-140 pb-140">
            <ul class="slides">
              <li>
                <div class="container">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="module-icon"><span class="icon-quote"></span></div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                      <blockquote class="testimonial-text font-alt">I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.</blockquote>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-4 col-sm-offset-4">
                      <div class="testimonial-author">
                        <div class="testimonial-caption font-alt">
                          <div class="testimonial-title">Jack Woods</div>
                          <div class="testimonial-descr">SomeCompany INC, CEO</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="container">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="module-icon"><span class="icon-quote"></span></div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                      <blockquote class="testimonial-text font-alt">I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now.</blockquote>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-4 col-sm-offset-4">
                      <div class="testimonial-author">
                        <div class="testimonial-caption font-alt">
                          <div class="testimonial-title">Jim Stone</div>
                          <div class="testimonial-descr">SomeCompany INC, CEO</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="container">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="module-icon"><span class="icon-quote"></span></div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                      <blockquote class="testimonial-text font-alt">I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.</blockquote>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-4 col-sm-offset-4">
                      <div class="testimonial-author">
                        <div class="testimonial-caption font-alt">
                          <div class="testimonial-title">Adele Snow</div>
                          <div class="testimonial-descr">SomeCompany INC, CEO</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </section>
        <section class="module" id="news">
          <div class="container">
            {% if page.featured_blog %}
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">{{ page.featured_blog_title }}</h2>
                <div class="module-subtitle font-serif">{{ page.featured_blog_tagline }}</div>
              </div>
            </div>
            <div class="row multi-columns-row post-columns">
              <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="post mb-20">
                  <div class="post-thumbnail"><a href="blog_single_right_sidebar.html"><img src="{% static '/images/post-1.jpg' %}" alt="Blog-post Thumbnail"/></a></div>
                  <div class="post-header font-alt">
                    <h2 class="post-title"><a href="blog_single_right_sidebar.html">Our trip to the Alps</a></h2>
                    <div class="post-meta">By&nbsp;<a href="blog_single_right_sidebar.html">Mark Stone</a>&nbsp;| 23 November | 3 Comments
                    </div>
                  </div>
                  <div class="post-entry">
                    <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                  </div>
                  <div class="post-more"><a class="more-link" href="blog_single_right_sidebar.html">Read more</a></div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="post mb-20">
                  <div class="post-thumbnail"><a href="blog_single_right_sidebar.html"><img src="{% static '/images/post-2.jpg' %}" alt="Blog-post Thumbnail"/></a></div>
                  <div class="post-header font-alt">
                    <h2 class="post-title"><a href="blog_single_right_sidebar.html">Shore after the tide</a></h2>
                    <div class="post-meta">By&nbsp;<a href="blog_single_right_sidebar.html">Andy River</a>&nbsp;| 11 November | 4 Comments
                    </div>
                  </div>
                  <div class="post-entry">
                    <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                  </div>
                  <div class="post-more"><a class="more-link" href="blog_single_right_sidebar.html">Read more</a></div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="post mb-20">
                  <div class="post-thumbnail"><a href="blog_single_right_sidebar.html"><img src="{% static '/images/post-3.jpg' %}" alt="Blog-post Thumbnail"/></a></div>
                  <div class="post-header font-alt">
                    <h2 class="post-title"><a href="blog_single_right_sidebar.html">We in New Zealand</a></h2>
                    <div class="post-meta">By&nbsp;<a href="blog_single_right_sidebar.html">Dylan Woods</a>&nbsp;| 5 November | 15 Comments
                    </div>
                  </div>
                  <div class="post-entry">
                    <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                  </div>
                  <div class="post-more"><a class="more-link" href="blog_single_right_sidebar.html">Read more</a></div>
                </div>
              </div>
            </div>
            <div class="module-title mt-40 pt-40 mb-20 pb-20">
                <a class=" btn btn-border-w btn-round" href="blog_grid_col_3.html" style="background-color:#000000; color:#ffffff;">More Blogs</a>
            </div>
            {% endif %}
          </div>
        </section>


{% endblock %}
