{% load wagtailimages_tags %}

{% image self.image original as block_image %}
<section class="module parallax-bg" data-background="{{ block_image.url }}">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h2 class="module-title font-alt" style="color: #FFFFFF; font-weight: bolder;">{{ self.caption }}</h2>
        <div class="module-subtitle font-serif" style="color: #FFFFFF; font-weight: bold;">{{ self.attribution }}</div>
      </div>
    </div>
  </div>
</section>
