{% comment %}
    Content is coming from the StandardBlock StreamField
    class within `blocks.py`
{% endcomment %}


{% if self.alignment == 'left' %}
    <div class="container" >
    <div class="row module-para-left" >
       {{ self.paragraph_text }}
    </div>
  </div>

    {% elif self.alignment == 'center' %}
        <div class="container" >
    <div class="row module-para-center" >
       {{ self.paragraph_text }}
    </div>
  </div>

    {% elif self.alignment == 'right' %}
        <div class="container" >
    <div class="row module-para-right" >
       {{ self.paragraph_text }}
    </div>
  </div>
    {% elif self.alignment == 'justify' %}
        <div class="container" >
    <div class="row module-para-justify" >
       {{ self.paragraph_text }}
    </div>
  </div>

{% endif %}
