alabaster==0.7.10
Babel==2.5.1
beautifulsoup4==4.6.0
certifi==2017.7.27.1
chardet==3.0.4
Django==1.11.28
django-appconf==1.0.2
django-compressor==2.2
django-el-pagination==3.1.0
django-environ==0.4.4
django-model-utils==3.0.0
django-modelcluster==3.1
django-taggit==0.22.1
django-treebeard==4.1.2
djangorestframework==3.9.1
docutils==0.14
gunicorn==19.7.1
html5lib==0.999999999
idna==2.6
imagesize==0.7.1
Jinja2==2.9.6
MarkupSafe==1.0
mock==2.0.0
model-mommy==1.4.0
olefile==0.44
pbr==3.1.1
Pillow==6.2.0
psycopg2==2.7.3.2
puput==0.9.1
Pygments==2.2.0
pytz==2017.3
rcssmin==1.0.6
requests==2.20.0
rjsmin==1.0.12
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.6.5
sphinxcontrib-websupport==1.0.1
Unidecode==0.4.21
urllib3==1.24.2
wagtail==2.11.6
webencodings==0.5.1
Willow==1.0
