{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags el_pagination_tags %}
{% block content %}
<div class="main">
  {% if page %}
  {% image page.header_image original as image_hero %}
  <section class="module bg-dark-60 blog-page-header" data-background="{{ image_hero.url }}">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <h2 class="module-title font-alt">{{ page.portfolio_heading }}</h2>
          <div class="module-subtitle font-serif">{{ page.portfolio_body }}</div>
        </div>
      </div>
    </div>
  </section>
  {% endif %}
        <section class="module">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">{{ page.featured_blog_title }}</h2>
                <div class="module-subtitle font-serif">{{ page.featured_blog_tagline }}</div>
              </div>
            </div>
            <div class="row multi-columns-row post-columns">
            {% if works %}
            {% paginate works %}
            {% for work in works %}
            <div class="col-md-4 col-lg-4">
              <div class="post">
                {% image work.preview_image fill-1920x1280 as image_work %}
                <div class="post-thumbnail"><a href="{% pageurl work %}"><img src="{{ image_work.url }}" alt="{{ work.preview_heading }}"/></a></div>
                <div class="post-header font-alt">
                  <h2 class="post-title"><a href="{% pageurl work %}">{{ work.preview_heading }}</a></h2>
                </div>
                <div class="post-entry">
                  <p>{{ work.work_summary|truncatewords:35}}</p>
                </div>
                <div class="post-more"><a class="more-link" href="{% pageurl work %}">Read more</a></div>
              </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="col-md-12">
              <p></p>
              <h3 class="font-alt"></h3><br/>
            </div>
            {% endif %}
          </div>
          {% if works %}
              <div class="pagination font-alt">{% show_pages %}</div>
          {% endif %}
        </div>
          </div>
        </section>
</div>
{% endblock content %}
