{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags el_pagination_tags %}
{% block content %}
<section class="module">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-md-8 col-lg-8">
                <div class="post-images-slider">
                  <ul class="slides">
                    {% for carousel_item in page.carousel_items.all %}
                    {% image carousel_item.image fill-600x400 as image_work %}

                    <li><img class="center-block" src="{{ image_work.url }}" alt="Slider Image"/></li>
                      {% endfor %}
                  </ul>

                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="work-details">
                  <h3 class="work-details-title font-alt">{{ page.title }}</h3>
                  <p>{{ page.work_summary }}</p>
                    {% if page.work_date %}
                      <ul>
                        <li><strong>Date: </strong><span class="font-serif">{{ page.work_date }}</span>
                        </li>
                      </ul>
                    {% endif %}
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="module pt-0 mt-0">
            <div class="container">
            <div class="post-entry">
            {% if page.work_video_image %}
              {% image page.work_video_image original as work_video_image %}
                <section class="module bg-dark-60 pb-10 mb-10 pt-10 mt-10" data-background="{{ work_video_image.url }}">

              <div class="container">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="video-box">
                      <div class="video-box-icon"><a class="video-pop-up" href="{{ page.work_video_url }}&amp;autoplay=1"><span class="icon-video"></span></a></div>
                      {% if page.work_video_title %}
                        <div class="video-title font-alt">{{ work_video_title }}</div>
                        {% endif %}
                        {% if page.work_video_subtitle %}
                            <div class="video-subtitle font-alt">{{ work_video_subtitle }}</div>
                        {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </section>
                {% endif %}
                  {% if page.work_desc %}
                  {{ page.work_desc|safe }}
                  {% endif %}
                </div>

          </div>

        </section>

{% endblock %}
