{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags el_pagination_tags %}
{% block content %}
<div class="main">
  {% if page %}
  {% image page.image original as image_hero %}
  <section class="module bg-dark-60 blog-page-header" data-background="{{ image_hero.url }}">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <h2 class="module-title font-alt">{{ page.title }}</h2>
          <div class="module-subtitle font-serif">{{ page.introduction }}</div>
        </div>
      </div>
    </div>
  </section>
  {% endif %}
  <section class="module">
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          {% include "blocks/messages.html" %}
          {% if category %}
          <h3 class="font-alt">Posts under <b>{{ category }}</b> category</h3><br/>
          {% endif %}
          <div class="row multi-columns-row post-columns">
            {% if posts %}
            {% paginate posts %}
            {% for blog in posts %}
            <div class="col-md-6 col-lg-6">
              <div class="post">
                {% image blog.image original as image_post %}
                <div class="post-thumbnail"><a href="{% pageurl blog %}"><img src="{{ image_post.url }}" alt="{{ blog.title }}"/></a></div>
                <div class="post-header font-alt">
                  <h2 class="post-title"><a href="{% pageurl blog %}">{{ blog.title }}</a></h2>
                  <div class="post-meta">
                    By{% for author in blog.authors %}
                    {{ author }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}&nbsp;| {% if blog.date_published %}
                    {{ blog.date_published }}
                    {% endif %}
                  </div>
                </div>
                <div class="post-entry">
                  <p>{{ blog.introduction|truncatewords:15 }}</p>
                </div>
                <div class="post-more"><a class="more-link" href="{% pageurl blog %}">Read more</a></div>
              </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="col-md-12">
              <p></p>
              <h3 class="font-alt">Posts coming soon. :)</h3><br/>
            </div>
            {% endif %}
          </div>
          <div class="pagination font-alt">{% show_pages %}</div>
        </div>
        {% include "blocks/sidebar.html" %}
      </div>
    </div>
  </section>
</div>
{% endblock content %}
