{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

{% image page.main_image original as main_image %}
<section class="module bg-dark-60 about-page-header" data-background="{{ main_image.url }}">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h2 class="module-title font-alt">{{ page.main_header }}</h2>
        <div class="module-subtitle font-serif">{{ page.main_body }}</div>
      </div>
    </div>
  </div>
</section>
{% if page.about_body %}
<section class="module pt-0 mt-0">

       {{ page.about_body|safe }}
</section>

{% endif %}

{% if page.lower_section %}
<section class="module pt-0 mt-0">

       {{ page.lower_section|safe }}
</section>

{% endif %}
{% endblock %}
